.is-style-post-template-2 li {
    border-radius: 12px;
    border: 1px solid #eee !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.wp-site-blocks>footer, .wp-site-blocks>header, .wp-site-blocks>main {
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}